<div class="container mt-4">
  <h2 class="text-primary">Your Appointments</h2>
  <div class="row">
    <ng-container *ngIf="(appointments$ | async) as appointments; else loading">
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let appointment of appointments">
        <app-appointment-card [appointment]="appointment"></app-appointment-card>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="text-center">
        <p>Loading appointments...</p>
      </div>
    </ng-template>
  </div>
</div>
